@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin:0;
  padding:0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding:50px;
  box-sizing: border-box;
}

.box {
  width: 90px;
  height:100%;
 /* background: lightpink;*/
  border-radius: 50px;
  box-sizing: border-box;
  margin: 0 15px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: flex 0.7s ease-in;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.i1 {
  background-image: url('../assets/images/1.jpg');
}
.i2 {
  background-image: url('../assets/images/2.jpg');
}
.i3 {
  background-image: url('../assets/images/3.jpg');
}
.i4 {
  background-image: url('../assets/images/4.jpg');
}

.i5 {
  background-image: url('../assets/images/5.jpg');
}

.grow {
  flex-grow:3;
}
h2 {
  font-size: 30px;
  color:white;
  font-family: Poppins;
  padding: 20px;
  opacity: 0;
  
}

.grow h2 {
  opacity:1;
  transition: all  0.3s ease-in 0.4s;
  border-radius: 100px;
}

- DSA - techno web (http, ...) - Programmation (POO, design pattern, )